/* Variables globales */
$color-font: rgb(89, 129, 238);
$color-font-text: rgb(65, 70, 83);
$color-font-nav:#7bbbc0;
$color-back:rgb(155, 224, 224);
$border: 2px solid #7bbbc0;
$font-principal:'Goudy Bookletter 1911', serif;
$font-secundaria:'Tangerine', cursive;


/*Operaciones*/
$calculos:50px;
$calculomayor:700px;


/*nesting*/

    * {
        margin: 0;
        padding: 0;
    }
/* Estilo aplicado a la barra de navegacion */
header{    
nav { 
        display: flex;
        background-color: $color-back;
        margin-top: $calculos -40;
        flex-direction: row;
        justify-content: space-evenly;
      
        ul{
            li{ flex-direction: row;
                top: $calculos -20;
                right: $calculos -20;
                bottom: $calculos -20;
                left: $calculos -20; 
                color: $color-font-nav;

            a{ font-size: $calculos -20;
                font-family: $font-principal;
                color:  $color-font;
             }
            }
        }
    }
 }

 /* Estilo aplicado al logo de la web */

nav {
    .logo-mc {
    width:$calculos * 3 ;
    height: $calculos * 3;
    margin-left: $calculos -20;
    margin-top: $calculos -20;
    border: $border;
}
 }

/* Estilo aplicado al encabezado */
h1 {
    color:   $color-font-text;
    text-align: center;
    font-size: $calculos;
    font-family: $font-principal;
    margin: $calculos;
    margin-top: $calculos -30;
}

/* Estilo aplicado al inicio*/
.presentacion{ 
    align-items:center;
    margin-top:$calculos;
    video{
align-tracks: 350px;
    }
}
    div{
        margin-top: calculos;
        align-items: center;
        video {
            border: 3px solid  $color-font-text;
            height: $calculomayor -100;
           }
   .presentacion {
    color: $color-font-text;
    text-align: center;
    margin-top: $calculos;
    font-size: $calculos -15;
    font-family: $font-principal;
   }
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
}
}
 }


/*Estilo aplicado al formulario de contactanos.html */
    label{
        input{
            color:    $color-font-text;
            text-align: left;
            margin-top: $calculos -35;
            font-size: $calculos -35;
            font-family: $font-principal;		
        }
    }
    
    @media (prefers-reduced-motion: reduce) {
        .mb-3 .btn-group {
          transition: none;
          font-size: 0.875rem;
        }
        }
/* Estilo aplicado al template de contactanos.html */
    div{
        label{
            textarea{
                color:   $color-font-text;
                text-align: left;
                margin-top: $calculos;
                font-size: $calculos -15;
                font-family: $font-principal;
                background-color:$color-back;	
            }
        }
        }

/* Estilo aplicado al template productos.html */

.productos {
    color:   $color-font-text;
    text-align: left;
    margin-top: $calculos;
    font-size: $calculos -15;
    font-family: $font-principal;
    background-color:$color-back;
}

/* Estilo aplicado al template como-comprar.html */
.comprar{
    color:  $color-font-text;
    text-align: left;
    margin-top: $calculos;
    font-size: $calculos -15;
    font-family: $font-principal;
    background-color:$color-back;
  
} 
/* Estilo aplicado en la imagen, template como-comprar.html  */
.comocomprar {
    width: $calculomayor;
    height: $calculomayor;
    margin-top: $calculos -20;
    margin-left:$calculomayor -150;
    margin-bottom: $calculomayor -600;    
}


/* Estilo aplicado al template quienes-somos.html  */
.quienes-somos {
    color: $color-font-text;
    text-align: left;
    margin-top: $calculos;
    font-size: $calculos -15;
    font-family: $font-principal;
    background-color:$color-back;
}




